<div ng-controller="addSchemeCtrl" class="row">
	<div class="col-lg-2 tab-css"  ng-click="setViewDetailsTab()" style="background-color: green"><span>View Details</span></div>
	<div class="col-lg-12">
		<div class="row"  style="padding-top: 30px">
			<div class="">
				<div class="col-lg-3">
				</div>
				<div class="col-lg-5 well">
					<h2><center>Fill Details</center></h2>
				
  					<div class="form-group">
    					<span>Add Scheme:</span>
    					<input type="text" class="form-control">
  					</div>
  					
  					
  					<button type="submit" class="btn btn-success" ng-click="">Submit</button>
				</div>
			</div>
			
	</div>
</div>