<div ng-controller="payClientPaymentCtrl" class="row">
	<div class="col-lg-2 tab-css"  ng-click="setViewDetailsTab()" style="background-color: green"><span>View Details</span></div>
	<div class="col-lg-12">
		<div class="row"  style="padding-top: 30px">
			<div class="">
				<div class="col-lg-3">
				</div>
				<div class="col-lg-5 well">
					<h2><center>Fill Details</center></h2>
					<div class="form-group">
    					<span>Scheme Name:</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>Scheme 1</option>
    						<option>Scheme 2</option>
    						<option>Scheme 3</option>
    					</select>
  					</div>
  					<div class="form-group">
    					<span>Mobile Number:</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>Mobile 1</option>
    						<option>Mobile 2</option>
    						<option>Mobile 3</option>
    					</select>
  					</div>
  					<div class="form-group">
    					<span>Payment Type :</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>ECS</option>
    						<option>Cash</option>
    						<option>Cheque</option>
    						<option>DD</option>
    					</select>
  					</div>
  					<div class="form-group">
    					<span>Amount:</span>
    					<input type="text" class="form-control">
  					</div>
  					<div class="form-group">
    					<span>Date:</span>
    					<input type="date" class="form-control">
  					</div>
  					<div class="form-group">
    					<span>Discription:</span>
    					<textarea class="form-control"></textarea>
  					</div>
  					
  					<button type="submit" class="btn btn-success" ng-click="">Submit</button>
				</div>
			</div>
			
	</div>
</div>