<div ng-controller="payClientPaymentCtrl" class="row">
	<div class="col-lg-2 tab-css"  ng-click="setViewDetailsTab()" style="background-color: green"><span>View Details</span></div>
	<div class="col-lg-12">
		<div class="row well"  style="padding-top: 30px">
			<div class="">
				<div class="col-lg-12">
					<h4><center>Fill Details</center></h4>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
    					<span>Client Type :</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option value="0">Finance</option>
    						<option value="1">Real Estate</option>
    					</select>
  					</div>
  				</div>
				<div class="col-lg-4">
					<div class="form-group">
    					<span>Scheme Name:</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>Scheme 1</option>
    						<option>Scheme 2</option>
    						<option>Scheme 3</option>
    					</select>
  					</div>
  				</div>
  				<div class="col-lg-4">
  					<div class="form-group">
    					<span>Mobile Number:</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>Mobile 1</option>
    						<option>Mobile 2</option>
    						<option>Mobile 3</option>
    					</select>
  					</div>
  				</div>
  				<div class="col-lg-4">
  					<div class="form-group">
    					<span>Payment Type :</span>
    					<select class="form-control">
    						<option>--Select--</option>
    						<option>ECS</option>
    						<option>Cash</option>
    						<option>Cheque</option>
    						<option>DD</option>
    						<option>Other</option>
    					</select>
  					</div>
  				</div>
  				<div class="col-lg-4">
  					<div class="form-group">
    					<span>Amount:</span>
    					<input type="text" class="form-control">
  					</div>
  				</div>
  				<div class="col-lg-4">
  					<div class="form-group">
    					<span>Date:</span>
    					<input type="date" class="form-control">
  					</div>
  				</div>
  				<div class="col-lg-12">
  					<div class="form-group">
    					<span>Discription:</span>
    					<textarea class="form-control"></textarea>
  					</div>
  				</div>
  					<button type="submit" class="btn btn-success" ng-click="">Submit</button>
				</div>
			</div>
			<div class="row well">
				<div class="col-lg-12"><h4><center>Client Details</center></h4></div>
				<div class="col-lg-12">
				<div class="table-responsive">
  					<table class="table">
   						<thead>
      						<tr>
      					    	<th>Name</th>
        						<th>Father / Husband Name</th>
        						<th>Executive name</th>
        						<th>Parmanent Address</th>
        						<th>Local Address</th>
        						<th>Registration Date</th>
        						<th>Client Type</th>
      						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td></td>
    							<td></td>
    							<td></td>
    							<td></td>
    							<td></td>
    							<td></td>
    							<td></td>
    						</tr>
    					</tbody>
  					</table>
				</div>
				</div>
			</div>
	</div>
</div>